.esc-div {
width: 550px;
background-color: #f9f9f9;
border:1px solid #cccccc;
border-radius: 7px;
padding:15px;
}

.esc-error {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
color:#ca0000;
}

.esc-finalbalance {
margin-top:15px;
font-size:24px;
color:#ca0000;
}

input {
	text-align: center;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url('http://www.imageupload.co.uk/images/2016/04/16/transaction6def4.jpg') no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}